@import '../app/app'

.mortgage-results
  display: inline-block
  width: 100%
  max-width: 320px
  min-height: 374px
  padding: 10px
  background: $mortgage-color-inverse
    clip: content-box
  vertical-align: top
  border-radius: 16px

  &__item
    p
      color: $mortgage-color-results
      margin-bottom: 17px

    b
      color: $mortgage-color-results
      font-size: 26px