@import '../app/app'
    
.mortgage-form
    display: inline-block
    width: 100%
    max-width: 320px
    padding: 10px

    &__input
        position: relative
        width: 300px
        max-width: 100%
        border: 2px solid $mortgage-color-inverse
        border-radius: 6px
        margin-bottom: 20px

        &_part
            min-height: 105px
            padding-left: 30px

        label
            position: absolute
            top: -12px
            left: 5px
            padding: 0 3px
            font-size: 15px
            color: $mortgage-color-inverse
            background-color: $mortgage-color-main

        input
            width: 300px
            max-width: 100%
            min-height: 40px
            font-size: 20px
            line-height: 24px
            border: none
            background: none
            color: $mortgage-color-inverse
            padding: 0 50px 0 12px

            &::placeholder
                font-size: 16px
                color: $mortgage-color-inverse

            &:disabled
                color: $mortgage-color-results

        &:after
            position: absolute
            top: 9px
            right: 10px
            font-size: 20px
            color: $mortgage-color-inverse

        &_rub::after
            content: '₽'

        &_year::after
            content: 'лет'

        &_perc::after
            content: '%' 

    &__lock
        position: absolute
        left: 14px
        top: 10px
        width: 20px
        height: 20px
        z-index: 1

        &_locked
            background: url('./img/lock_locked.png') no-repeat
                size: auto 100%
            cursor: pointer

        &_opened
            background: url('./img/lock_opened.png') no-repeat
                size: auto 100%

    &__anchors
        display: flex
        justify-content: space-between
        width: 90%
        margin: -85px auto 10px
        padding-top: 10px
        border-top: 2px solid $mortgage-color-inverse

    &__anchor
        position: relative
        min-width: 40px
        min-height: 40px
        margin: 0 0 20px 0
        text-align: center
        font-weight: bold
        border: 2px solid $mortgage-color-inverse
        color: $mortgage-color-inverse
        background: none
        border-radius: 6px
        cursor: pointer
        transition: all .2s
        appearance: none

        &::after
            position: absolute
            top: 30%
            left: 0
            width: 100%

        &_10::after
            content: '10%'

        &_15::after
            content: '15%'

        &_20::after
            content: '20%'

        &_25::after
            content: '25%'

        &_30::after
            content: '30%'

        &:hover,&:checked
            color: $mortgage-color-main
            border: 2px solid $mortgage-color-inverse
            background: $mortgage-color-inverse

    &__buttons
        display: flex
        justify-content: space-between

        button
            min-width: 45%
            min-height: 40px
            color: $mortgage-color-inverse
            text-align: center
            font-weight: bold
            font-size: 15px
            border: 2px solid $mortgage-color-inverse
            background: none
            border-radius: 6px
            cursor: pointer
            transition: all .2s

            &:hover
                color: $mortgage-color-main
                border: 2px solid $mortgage-color-inverse
                background: $mortgage-color-inverse

.mortgage-results
    display: inline-block
    width: 100%
    max-width: 320px
    min-height: 374px
    padding: 10px
    background: $mortgage-color-inverse
        clip: content-box
    vertical-align: top
    border-radius: 16px

    &__item
        p
            color: $mortgage-color-results
            margin-bottom: 17px

        b
            color: $mortgage-color-results
            font-size: 26px